h1{
        font-family: "Luckiest Guy", cursive;
        font-weight: 400;
        font-style: normal;
        color: #00A3FF;
        font-size: 64px;
        text-align: center;
}

body{
    background-image: url("../img/background.jpg");
}

#title{
    margin-top: 120px;
}

nav{
background-color: #00A3FF;
height: 100px;
font-family: "Luckiest Guy", cursive;
font-weight: 400;
font-style: normal;
color: white;
position: fixed; 
top: 0px;
width: 100%;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
align-items: center;
}

a{
    text-decoration: none;
    color: white;
    font-size: 32px;
}

a:hover{
    color: #67DA01
}

p{
    font-family: "News Cycle", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

#firstbox{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
}

#secondbox{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
}

#thirdbox{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
}

#firstp{
    border: 5px solid #00A3FF;
    background-color: white;
    grid-column: 2/6;
}

#secondp{
    border: 5px solid #00A3FF;
    background-color: white;
    grid-column: 8/12;
}

#thirdp{
    border: 5px solid #00A3FF;
    background-color: white;
    grid-column: 2/5;
}

#images{
    display: flex;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 30px;
    align-items: center;
}

#doctor{
width: 450px;
height: auto;
grid-column: 1/4;
}

#detective{
    width: 400px;
    height: auto;
    grid-column: 4/8;
}

#scientist{
     width: 500px;
     height: auto;
     grid-column: 8/12;
}
        
