h1{
        font-family: "Luckiest Guy", cursive;
        font-weight: 400;
        font-style: normal;
        color: #00A3FF;
        font-size: 64px;
        text-align: center;
}

body{
    background-image: url("../img/background.jpg");
    width: 100%;
    height:auto;
}

#title{
    margin-top: 120px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#subtitle{
    padding-bottom: 30px;
    margin-top: 0px;
    padding-top: 0px;
}

nav{
background-color: #00A3FF;
height: 60px;
font-family: "Luckiest Guy", cursive;
font-weight: 400;
font-style: normal;
color: white;
position: fixed; 
top: 0px;
left: 0px;
width: 100%;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: end;
align-items: center;
}

.link{
    padding-right: 40px;
    padding-top: 10px;
    font-size: 30px;
}

a{
    text-decoration: none;
    color: white;
    font-size: 32px;
}

a:hover{
    color: #67DA01
}

p{
    font-family: "News Cycle", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

#firstbox{
    display:flex;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    align-items:center;
}

#secondbox{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    align-items:center;
    padding-top: 20px;
}

#thirdbox{
    display:flex;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
}

#firstp{
    border: 5px solid #00A3FF;
    background-color: white;
    grid-column: 2/6;
    padding: 20px 20px 20px 20px;
}

#secondp{
    border: 5px solid #00A3FF;
    background-color: white;
    grid-column: 8/12;
    padding: 20px 20px 20px 20px;
}

#thirdp{
    border: 5px solid #00A3FF;
    background-color: white;
    grid-column: 3/11;
    padding: 20px 20px 20px 20px;
}

#images{
    display: flex;
    align-items: center;
    padding: 40px 0px 20px 0px;
}
        
article{
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content: center;
}

#group1{
height:400px;
width:auto;
grid-column: 8/12;
}

#group2{
height:400px;
width:auto;
grid-column: 2/5;
}

#backtotop{
   font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    color: #00A3FF;
    font-size: 35px;
    margin-left: 1180px;

}

#backtotop:hover{
    color: #67DA01
}

footer{
    
}

#doctorpic{
    position: relative;
    width: 450px;
    height: auto;
    padding-right: 20px;
}

#doctor{
    width: 100%;
}

#doctortitle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255, 0.5);
    font-family: "Luckiest Guy", cursive;
        font-weight: 400;
        font-style: normal;
        color: black;
        font-size: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.25s;
}

#doctortitle:hover{
    opacity: 1;
}

#detectivepic{
    position: relative;
    width: 400px;
    height: auto;
}

#detective{
    width: 100%;
}

#detectivetitle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255, 0.5);
    font-family: "Luckiest Guy", cursive;
        font-weight: 400;
        font-style: normal;
        color: black;
        font-size: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.25s;
}

#detectivetitle:hover{
    opacity: 1;
}

#scientistpic{
    position: relative;
    width: 500px;
    height: auto;
}

#scientist{
    width: 100%;
}

#scientisttitle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255, 0.5);
    font-family: "Luckiest Guy", cursive;
        font-weight: 400;
        font-style: normal;
        color: black;
        font-size: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.25s;

}

#scientistpic:hover #scientisttitle {
    opacity: 1;

}


